<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzYzcP2MzArG1YAkBOJ_jJ-8n5mY4tu7U</string>
	<key>GCM_SENDER_ID</key>
	<string>793407211700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fittlline.fittlline</string>
	<key>PROJECT_ID</key>
	<string>fittlline-alfombra-conos</string>
	<key>STORAGE_BUCKET</key>
	<string>fittlline-alfombra-conos.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793407211700:ios:e58e4dbdf565a9eda36fe1</string>
</dict>
</plist>